{{#each stars as |star|}}
  <a href="#" onclick={{action "setRating" star.rating}} data-test-rr={{concat "star-rating-" star.rating}}>
    {{#if star.isFull}}
      {{fa-icon 'star'}}
    {{else}}
      {{fa-icon 'star-o'}}
    {{/if}}
  </a>
{{/each}}