<section class="rr-panel b--solid br1 bw1">
  <button type="button" class="rr-action-button fr" onclick={{action (if isEditing "save" "edit") model}}>
    {{if isEditing "Save" "Edit"}}
  </button>
  <h3>Description</h3>
  {{#if isEditing}}
    {{textarea class="rr-textarea" value=model.description}}
  {{else}}
    <p>{{model.description}}</p>
  {{/if}}
</section>