<div class="rr-controls-panel">
  <div class="rr-search-panel">
    {{input type="text" class="rr-input" value=searchTerm data-test-rr="search-box"}}
    <button type="button" class="rr-search-button">{{fa-icon "search"}}</button>
  </div>
</div>
<div class="rr-controls-panel">
  <div class="rr-sort-panel">
    {{#link-to (query-params sort='ratingDesc') class="rr-sort-button" data-test-rr="sort-by-rating-desc"}}
      Rating
      {{fa-icon "angle-down"}}
    {{/link-to}}
    {{#link-to (query-params sort='ratingAsc') class="rr-sort-button" data-test-rr="sort-by-rating-asc"}}
      Rating
      {{fa-icon "angle-up"}}
    {{/link-to}}
    {{#link-to (query-params sort='titleDesc') class="rr-sort-button" data-test-rr="sort-by-title-desc"}}
      Title
      {{fa-icon "angle-down"}}
    {{/link-to}}
    {{#link-to (query-params sort='titleAsc') class="rr-sort-button" data-test-rr="sort-by-title-asc"}}
      Title
      {{fa-icon "angle-up"}}
    {{/link-to}}
  </div>
</div>
<ul class="rr-list">
  {{#each sortedSongs as |song|}}
    <li class="rr-list-item" data-test-rr="song-list-item">
      {{capitalize song.title}}
      {{star-rating class="fr" rating=song.rating onClick=(action 'updateRating' song)}}
    </li>
  {{else}}
    <li class="rr-empty-message">
      No {{capitalize model.name}} songs yet, why don't you <a href="#" onclick={{action "addSong"}}>create one?</a>
    </li>
  {{/each}}
  <div class="rr-new-label">
    {{#if isAddingSong}}
      <form class="rr-inline-form" onsubmit={{action "saveSong" model}} data-test-rr="new-song-form">
        {{input type="text" class="rr-input" value=newSongTitle placeholder=newSongPlaceholder data-test-rr="new-song-input"}}
        <button type="submit" class="rr-action-button" disabled={{isAddButtonDisabled}} data-test-rr="new-song-button">Add</button>
        <span class="rr-cancel-icon" onclick={{action "cancelAddSong"}}>{{fa-icon "times"}}</span>
      </form>
    {{else}}
      <label onclick={{action "addSong"}} data-test-rr="new-song-label">
        {{fa-icon "plus"}}
        <span class="ml1">Add new song</span>
      </label>
    {{/if}}
  </div>
</ul>